:root{
    --color-soft-blue: hsl(215, 51%, 70%);
    --color-cyan: hsl(178, 100%, 50%);
    --color-main-bg:hsl(217, 54%, 11%);
    --color-card-bg:hsl(216, 50%, 16%);
    --color-line: hsl(215, 32%, 27%);
    --color-white: hsl(0, 0%, 100%);
}

body{
    font-family: 'Outfit';
    background-color:var(--color-main-bg);
    min-height: 100vh;
    padding: 2rem;
    display:flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    
}

 .container {
    background-color: var(--color-card-bg);
    color:var(--color-white);
    border-radius: 15px;
    width: 20rem;
    padding: 1.5rem;
}

.hover-box{
    position:relative;
    width:100%;
    display: block;
}

.nft {
    display:block;
    max-width:100%;
    border-radius: 7px;
}

.hover-icon{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: var(--color-cyan);
}

.icon{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.hover-box:hover .hover-icon{
    opacity: .4;
    cursor:pointer;
}

.container-content {
    padding-top: 1.5rem;
}

.container-content h1{
    font-size: 1.5rem;
    
}

.container-content a{
    text-decoration: none;
    color: var(--color-white);
}

.container-content a:hover{
    color:var(--color-cyan);
}

.container-content p{
    color:var(--color-soft-blue);
    line-height: 1.5;
    padding: 1rem 0 .5rem;
    font-size: 1.1rem;
    font-weight: 300;
}

.container-info {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.container-info p{
    padding: 0;
}

.ethereum, .time {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.ethereum p{
    color:var(--color-cyan);
    font-weight: 400;
}

.container-profile{
    display: flex;
    align-items: center;
    gap: 1rem;
    
    border-top: 1px solid var(--color-line);
}

.avatar{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    border: 1px solid var(--color-white)
}

.container-profile {
    padding-top: 1rem;
}

.container-profile p{
    padding:0;
}

.container-profile a{
    color: var(--color-white);
    text-decoration: none;
}

.container-profile a:hover{
    color:var(--color-cyan);
} 

.footer {
    padding-top: 1.5rem;
    color:var(--color-soft-blue);
    font-size: .9rem;
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: var(--color-cyan);
}